[Unit]
Description=GroqBotNet Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/GroqBotNet
Environment=HOST=0.0.0.0
Environment=PORT=18990
ExecStart=/usr/bin/node /home/pi/GroqBotNet/server.js
Restart=always
RestartSec=3
StandardOutput=append:/home/pi/GroqBotNet/groqbotnet.log
StandardError=append:/home/pi/GroqBotNet/groqbotnet.log

[Install]
WantedBy=multi-user.target
